#!/bin/sh
#
# An example hook script that is called after a successful
# commit is made.
#
# To enable this hook, rename this file to "post-commit".

export supermsg="`git log -n 1 --format="%B" HEAD`"
git submodule foreach 'if [ -n "`git status -s`" ]; then git add -A; git commit -m "${supermsg}"; fi'

submodules=`cat .gitmodules  | grep "\[submodule" | awk 'match($0,/\"[-0-9a-zA-Z_\.\/]*\"/) { print substr($0,RSTART+1,RLENGTH-2) }'`
for m in $submodules; do
  git add $m
done

treeobj=`git write-tree`
commitobj=`git commit-tree ${treeobj} -p HEAD^ <<EOF
${supermsg}
EOF`
git reset ${commitobj}
