[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  quotepath = false
  commitGraph = true
[protocol]
  version = 2
[user]
  name = Takumi Shotoku
  email = sinsoku.listy@gmail.com
  signingkey = 92BA66D80B19ADF2
[alias]
  ad = add
  br = branch
  cf = cat-file -p
  ci = commit
  cia = commit --amend
  cih = commit --amend --no-edit
  cif = commit --fixup
  ci-wip = commit --allow-empty -m '[ci skip] wip'
  ci-reset-time = commit --amend --no-edit --date=now
  cl = clean
  cpick = cherry-pick
  co = checkout
  d = diff
  dc = diff --cached
  dn = diff --name-only
  dw = diff --color-words
  export = !git archive HEAD | tar -x -C
  ft = fetch
  fta = fetch --all
  gr = grep -n
  h = help
  l = log --pretty=format:\"%C(yellow)%h%Creset (%an): %s\" --date=short -20
  # lf -u でコンフリクトのファイルを表示
  lf = ls-files
  lg = log --oneline --graph --decorate -20
  lge = !PAGER=emojify git log --oneline --graph --decorate -20 --color
  ls = log --stat -p -1
  ps = push --set-upstream
  rb = rebase
  rbh = rebase HEAD
  rbo = rebase --onto
  rl = reflog show -20
  rs = reset
  rsh = reset --hard
  rv = revert --no-edit
  sh = show
  st = status --short
  show-branch-description = "!f(){ git config branch.$(git rev-parse --abbrev-ref ${1:-@}).description;};f"
  find-merged = "!f() { git bisect start --no-checkout --first-parent $1 $2 > /dev/null 2>&1; git bisect run sh -c \"! git merge-base --is-ancestor $2 BISECT_HEAD\" > /dev/null 2>&1; git rev-parse BISECT_HEAD; git bisect reset;};f"
  find-pr = "!f(){ gh api /repos/:owner/:repo/commits/$1/pulls -H 'Accept: application/vnd.github.groot-preview+json' | jq -r '.[].number';};f"
  # 今日やったこと
  today = !git log --all --oneline --graph --decorate --since=yesterday --author=`git config user.name`
  # 今週やったこと
  week = !git log --all --oneline --graph --decorate --since=1_week_ago --author=`git config user.name`
  # clean-br
  clean-br = !git branch -d `git branch --merged master | grep -v master`
  vimp = !git ls-files | peco | xargs -o vim
[commit]
  gpgsign = true
  cleanup = scissors
[tag]
  gpgSign = true
[fetch]
  prune = true
[mergetool]
  keepBackup = false
[push]
  default = current
[rebase]
  autosquash = true
  autoStash = true
[status]
  branch = true
[include]
  path = ~/.gitconfig_private
[diff]
	noprefix = true
[init]
	defaultBranch = main
